services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    ports:
      - '27017:27017'
    volumes:
      - mongodb-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: aboutme
      MONGO_INITDB_ROOT_PASSWORD: aboutme
      MONGO_INITDB_DATABASE: aboutme

volumes:
  mongodb-data:
